<h3>Pragmatic Order Shipped</h3>
<p>
	This is just to let you know that we have shipped your recent order:
</p>

<table>
	<tr><th colspan="2">QTY</th><th>Description</th></tr>
	<%= render @order.line_items -%>
</table>