<h2><%= t('.title') %></h2>
<table>
	<%= render(cart.line_items) %>

	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
		</tr>
</table>
<% if @order.nil? %>
<%= button_to t('.empty'), cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
 <%= button_to t('.checkout'), new_order_path, method: :get %>
 <%# else %>
 <%#= button_to 'Cancel Order' , store_index_path %>
 <% end %>
