<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1><%= t('.title_html') %></h1>

<% cache ['store', Product.latest] do %>
<% @products.each do |product| %>
<% cache ['entry', product] do %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<h5><%= truncate(strip_tags(product.description), length: 100) %></h5>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price, unit:"€") %></span> <%# default unit s "$" %>
			<%= button_to t('.add_html'), line_items_path(product_id: product),remote: true %> 
			<%# link to the line_items_path with product_id prameters,default http method "post" %>
		</div>
	</div>
<% end %>
<% end %>
<% end %>

